<div class="row">
  <div class="col-xs-12">
   <img
      [src]="clothe.imagePath"
       alt="{{ clothe.name }}"
      class="img-responsive"
      style="max-height: 300px;">

  </div>
</div>
  <div class="col-xs-12">
    <h1>{{ clothe.name }}</h1>
  </div>

<div class="row">
  <div class="col-xs-12">
    <div
      class="btn-group"
      appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Manage Clothing <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Edit Clothing</a></li>
        <li><a href="#">Delete Clothing</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ clothe.type }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{clothe.fabric}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{clothe.description}}
  </div>
</div>
